.animes-banner,
.animeResult {
    position: relative;
    overflow: hidden; /* Garante que o gradiente não ultrapasse as bordas da div */
}

.animes-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #13131F 0.01%, rgba(19, 19, 31, 0) 99.99%);
    z-index: 1; /* Garante que o gradiente esteja por cima da imagem */
}

.animes-banner img{
    display: block;
    width: 100%;
    height: 100%; /* Para manter a proporção original da imagem */
    z-index: 2; /* Garante que a imagem esteja por cima do gradiente */
}

.animes-banner-texto{
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 3;
}

.animes-banner h1{
    color: #FEFBFB;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 10px;

}

.animes-banner span{
    color: #C4C4C4;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

/* pesquisa */
.pesquisa{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

.pesquisa input{
    height: 60px;
    background-color: #282830;
    border:none;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #989898;
    padding-left: 5%;
    margin-bottom: 60px;
}


.pesquisa img{
    position: absolute;
    top: 15%;
    right: 2%;
    width: 30px;
}

#animeInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.animeResult {
    position: relative;
    overflow: hidden;
}

.animeResult img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #13131F 10%, rgba(19, 19, 31, 0) 100%);
}

.animeInfoOverlay {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    padding: 10px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}


.pagination {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #282830;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #8257e6;
    
}

.pagination button:hover{
    background-color: #8257e6;
}



@media (max-width: 800px) {
    
    .animes-banner-texto {
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 3;
    }

    .animes-banner h1{
        font-weight: 400;
        font-size: 36px;
        line-height: 35px;
        margin-bottom: 10px;
    
    }
    
    .animes-banner span{
        font-size: 14px;
        line-height: 16px;
    }

    .pesquisa input{
        height: 50px;
        font-size: 16px;
        line-height: 20px;
    }

    .pesquisa img{
        position: absolute;
        top: 20%;
        right: 2%;
        width: 20px;
    }

    #animeInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    

}

@media (max-width: 600px) {

    .animes-banner {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 55%; /* Proporção de aspecto 4:3 (altura = largura * 3/4) */
        overflow: hidden; /* Oculta as partes excedentes da imagem */
    }
    
    .animes-banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #13131F 0.01%, rgba(19, 19, 31, 0) 99.99%);
        z-index: 2; /* Garante que o gradiente esteja por cima da imagem */
    }
    
    .animes-banner img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* A imagem ocupará toda a largura do contêiner */
        height: 100%; /* A imagem ocupará toda a altura do contêiner */
        object-fit: cover; /* Ajusta a imagem ao contêiner, cortando as bordas */
        z-index: 1; /* Garante que a imagem esteja por baixo do gradiente */
    }
    
    .animes-banner-texto {
        position: absolute;
        top: 65px;
        left: 5%;
        z-index: 3;
        width: 90%;
        height: 100px;
    }
    
    .animes-banner h1 {
        font-size: 24px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    
    .animes-banner span {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }


    .pesquisa input{
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }

    .pesquisa img{
        position: absolute;
        top: 17%;
        right: 3%;
        width: 15px;
    }

    #animeInfo {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .animeResult img {
        width: 100%;
        object-fit: cover;
        height: auto;
        min-height: 250px;
    }
    
}


@media (max-width:400px) {
    .animes-banner span{
        font-size: 10px;
        line-height: 10px;
    }
}