body{
    background-color:#13131F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio do header */

header{
    max-width: 1119px;
    margin: 30px auto 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;  
}

.marca{
    color: #8257E6;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    font-family: "Lexend Deca", sans-serif;
}

.menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-lista{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
}

.menu-lista a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #C4C4C4;
    text-decoration: none;
}

.menu-lista a:hover{
    border-bottom: 2px solid #8257E6;
}

.conta{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color: #FEFBFB;
    text-decoration: none;
    border: 1px solid #8257E6;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    width: 120px;
    display: inline-block;
    margin-left: 40%;
    text-align: center;
}

.minha_conta{
    display: flex;
    align-items: center;
    width: 100%;
}

/* inicio da main */

main{
    max-width: 1119px;
    margin: 0px auto;    
}

.titulo-main{
    margin-bottom: 60px;
}

.titulo-main h1{
    margin: 0px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FEFBFB;
}

.titulo-main p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #C4C4C4;
}

.banner-main {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}

.banner1{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.banner2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.banner3{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.banner1,
.banner2,
.banner3,
.cardImg,
.cardGame {
    position: relative;
    overflow: hidden; /* Garante que o gradiente não ultrapasse as bordas da div */
}

.banner1::before,
.banner2::before,
.banner3::before,
.anime-banner::before,
.cardImg::before,
.cardGame::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%);
    z-index: 1; /* Garante que o gradiente esteja por cima da imagem */
}


.banner1 img,
.banner2 img,
.banner3 img {
    display: block;
    width: 100%;
    height: 100%; /* Para manter a proporção original da imagem */
    z-index: 2; /* Garante que a imagem esteja por cima do gradiente */
}

.banner1 span{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FEFBFB;
    font-size: 14px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 17.5px;
    background-color: #8257E6;
    border-radius: 3px;
    padding: 5px 10px;
}

.banner2 span,
.banner3 span,
.anime-banner span,
.cardImg span{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FEFBFB;
    font-size: 12px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 15px;
    background-color: #8257E6;
    border-radius: 3px;
    padding: 5px 10px;
}

.banner1 p {
    position: absolute;
    bottom: 5%; 
    left: 5%; 
    color: #FEFBFB; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    font-family: "Lexend Deca", sans-serif;
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 400;
    line-height: 34px;
    z-index: 2; /* Garante que o parágrafo esteja acima do gradiente, mas abaixo da imagem */
}

.banner2 p,
.banner3 p,
.anime-banner p,
.cardGame p{
    position: absolute;
    bottom: 5%; 
    left: 5%; 
    color: #FEFBFB; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    font-family: "Lexend Deca", sans-serif;
    font-size: 13px; /* Tamanho da fonte */
    font-weight: 400;
    line-height: 20px;
    z-index: 2; /* Garante que o parágrafo esteja acima do gradiente, mas abaixo da imagem */
}

.conteudo {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}


.TopAnimes h2{
    color: #FEFBFB;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.detalhe{
    width: 75%;
    height: 3px;
    background-color: #8257E6;
    margin-bottom: 20px;
}

.anime-banner{
    position: relative;
    overflow: hidden; /* Garante que o gradiente não ultrapasse as bordas da div */
    margin-bottom: 60px;
}

.anime-banner img{
    max-width: 366px;
    position: relative;
}

.colecaoCard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 800px;
    overflow-y: scroll;
}
/* scrollbar personalizado */
::-webkit-scrollbar{
    width: 12px;
    background-color: #282830;
}

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #8257E6;
    border: 3px solid #282830;
}

.card{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.cardImg{
    position: relative;
}

.cardImg img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}


.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardInfo h3{
    margin: 0px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FEFBFB;
    max-width: 60ch;
}

.cardInfo p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #C4C4C4;
    margin: 0px;
    width: 60ch;
}

.cardInfo span{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    color: #C4C4C4;
}

.cardInfo a{
    padding: 5px 10px;
    background-color: #8257E6;
    border-radius: 3px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    color: #FEFBFB;
    width: 80px;
    text-align: center;
}

.conteudo2{
    margin-bottom: 60px;
}

.conteudo2 h3{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #FEFBFB;
    margin-top: 0px;
    margin-bottom: 10px;
}

.detalhe2{
    width: 250px;
    height: 3px;
    background-color: #8257E6;
    margin-bottom: 20px;
}

.cardsGames{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}


.cardGame img{
    position: relative;
    width: 360px;
    height: 250px;
    object-fit: cover;
}

.cardGame span{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FEFBFB;
    font-size: 12px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 15px;
    background-color: #8257E6;
    border-radius: 3px;
    padding: 5px 10px;
}

/* rodape */

footer{
    max-width: 1119px;
    margin: 0px auto; 
    text-align: center;
}

footer h5{
    color: #8257E6;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
}

footer p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}

#btn-mobile{
    display: none;
}


/* responsivo */

@media (max-width: 1150px) {
    
    body{
        padding: 0px 30px;
    }

    .conta{
        margin-left: 30%;
    }

    .menu-lista{
        display: flex;
        justify-content: space-around;
        gap: 25px;
        list-style: none;
    }

    .banner-main {
        grid-template-columns: 1fr;
    }
    
    .banner2, .banner3{
        display: none;
    }
    
    .conteudo {
        grid-template-columns: 1fr;
    }

    .TopAnimes{
        display: none;
    }

    .cardsGames{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .cardGame img{
        position: relative;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}


@media (max-width: 768px) {

    header{
        max-width: 1119px;
        margin: 30px auto 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        flex-wrap: wrap;
        align-items: center;  
    }

    .minha_conta{
        margin-top: 10px;
        text-align: center;
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 2 / 3 ;
    }

    .conta{
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.5px;
        color: #FEFBFB;
        text-decoration: none;
        border: 1px solid #8257E6;
        padding: 5px 20px 5px 20px;
        border-radius: 30px;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }
/* menu mobile inicio */
    #btn-mobile{
        display: block;    
    }

    .menu-lista{
        display: none;
    }


/* menu mobile fim */

}